@font-face {
    font-family: "GT Walsheim";
    src: url("./fonts/GT-Walsheim-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "GT Walsheim";
    src: url("./fonts/GT-Walsheim-Bold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "GT Walsheim";
    src: url("./fonts/GT-Walsheim-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "GT Walsheim";
    src: url("./fonts/GT-Walsheim-Medium.otf") format("opentype");
    font-weight: 700;
}

html {
    box-sizing: border-box;
    --granite: #3C3C3B;
    --granite-light-level2: #666666;
    --granite-light-level1: #B3B3B3;
    --mist: #F9F7F7;
    --purple: #6F358A;
    --mint: #66BCB4;
    --cobalt: #3763AD;
    --sky: #88CFE0;
    --yellow: #F9B049;
    --orange: #ED694C;
    --red: #E84744;
    --pink: #E7589A;
    --header-height: 50px;
    --navbar-height: 40px;
    --transition: all .3s linear;
}

body {
    margin: 0;
    background-color: var(--mist);
}

.header {
    width: 100%;
    background-color: var(--granite);
    height: var(--header-height);
    border-bottom: 1px solid var(--granite-light-level2);
    margin: 0;
}

.logo {
    max-height: calc(var(--header-height) - 10px);
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    height: var(--navbar-height);
    background-color: var(--granite);
    margin: 0;
}

ul {
    margin: 0 auto;
    list-style-type: none;
    vertical-align: middle;
    line-height: var(--navbar-height);
    width: 1170px;
}

.resource-topics-list {
    width: 100%;
    max-height: 300px;
    list-style-type: none;
    overflow-y: scroll;
    padding: 0;
    margin: 5px 0 10px 0;
}

.resource-topics-list li {
    font-family: GT Walsheim;
    color: var(--granite);
    font-size: 14px;
    line-height: 22px;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    width: max-content;
    background-color: var(--mist);
    padding: 0;
    box-shadow: 0 1px 1px 1px rgba(179, 179, 179, 0.2);
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown ul li {
    float: none;
    font-family: GT Walsheim;
    color: var(--granite);
    font-size: 14px;
    font-weight: 400;
}

.navbar li {
    display: inline;
    position: relative;
    float: left;
    font-family: GT Walsheim;
    color: var(--mist);
    font-size: 14px;
    font-weight: 400;
}

.navbar li a,
.dropdown ul li a {
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
    display: block;
    align-items: center;
    transition: var(--transition);
}

.navbar li a:hover,
.dropdown:hover {
    background-color: var(--mist);
    color: var(--granite);
}

.dropdown ul li a:hover {
    background-color: var(--granite);
    color: var(--mist);
}

.notification-badge {
    background-color: red;
    border-radius: 20px;
    width: 27px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
}

.notification-number {
    position: absolute;
    display: table;
    margin-left: 10px;
    margin-top: -1px;
    color: white;
    text-align: center;
}

.wrapper {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
}

.under-nav {
    background: linear-gradient(to right,rgba(55,99,172,.1) 0,rgba(248,176,72,.1) 100%);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--granite);
}

.under-nav .wrapper {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.flex-item {
    margin: 0;
    flex: 1 auto;
}

input[type=text],
select {
    border: 1px solid var(--granite-light-level1);
    border-radius: 20px;
    color: var(--granite);
    font-size: 14px;
    font-family: GT Walsheim;
    font-weight: 300;
    padding: 5px 5px 5px 8px;
    width: 280px;
    transition: all ease-in-out 0.2s;
}

input[type=text]:focus,
select:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 1px 2px var(--sky);
}

#search {
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 0;
    left: 265px;
    top: -22px;
    color: var(--granite);
}

h1 {
    font-family: GT Walsheim;
    font-weight: 800;
    font-size: 18px;
    color: var(--granite);
}

h2 {
    font-family: GT Walsheim;
    font-weight: 800;
    font-size: 14px;
    color: var(--granite);
}

button {
    background-color: white;
    color: var(--cobalt);
    padding: 8px 30px;
    font-family: GT Walsheim;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid var(--cobalt);
    border-radius: 20px;
    transition: var(--transition);
    text-decoration: none;
    cursor: pointer;
    align-items: baseline;
    display: inline-flex;
}

button.warning {
    background-color: var(--orange);
    color: white;
    padding: 7px 10px;
    font-family: GT Walsheim;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 20px;
    border: none;
    cursor: default;
    align-items: baseline;
    display: inline-flex;
    margin-right: 15px;
}

button.warning:hover {
    background-color: var(--orange);
    color: white;
    font-family: GT Walsheim;
    font-size: 14px;
    font-weight: 700;
}

button:hover,
.page-number.active {
    background-color: var(--cobalt);
    color: white;
}

ul.search-links {
    padding-left: 0;
}

.search-links li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    float: left;
    font-family: GT Walsheim;
    color: var(--granite);
    font-size: 14px;
    font-weight: 400;
}

.search-links li a {
    color: var(--granite);
    padding-left: 7px;
    padding-right: 7px;
    text-decoration-skip: ink;
    transition: var(--transition);
}

.form-submissions {
    color: var(--granite);
    text-decoration-skip: ink;
    transition: var(--transition);
}

.content-link {
    color: var(--granite);
    text-decoration: none;
    transition: var(--transition);
    box-shadow: inset 0 -0.1em 0 var(--sky);
}

.content-link:hover {
    box-shadow: inset 0 -1em 0 var(--sky);
    color: var(--granite);
}

.search-links li a:hover,
.form-submissions:hover {
    color: var(--cobalt);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.grid-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: start;
    grid-gap: 15px;
}

.job-details-grid-content-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: start;
}

#practice-assessments {
    margin-bottom: 50px;
}

.panel {
    box-shadow: 0 0 1px 1px rgba(179, 179, 179, 0.2);
    width: 32%;
    margin-bottom: 20px;
    border-top: 5px solid;
    border-bottom: 5px solid var(--mist);
    border-radius: 5px;
    background-color: white;
    transition: var(--transition);
}

.grid-panel {
    box-shadow: 0 0 1px 1px rgba(179, 179, 179, 0.2);
    margin-bottom: 20px;
    border-top: 5px solid;
    border-bottom: 5px solid var(--mist);
    border-radius: 5px;
    background-color: white;
    transition: var(--transition);
    grid-column: span 1;
    grid-auto-rows: minmax(min-content, max-content);
}

.panel:hover,
.grid-panel:hover {
    box-shadow: 0 0 20px 5px rgba(179, 179, 179, 0.4);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(179, 179, 179, 0.2);
}

.panel-heading a {
    text-decoration: none;
}

.panel-content {
    padding: 15px 15px;
}

.panel-footer {
    padding: 0 15px;
    border-top: 1px solid rgba(179, 179, 179, 0.2);
    display: block;
}

.panel-footer h2 {
    float: right;
}

.panel-footer h2 a {
    text-decoration: none;
}

.panel-content img {
    margin: 10px auto 20px auto;
    display: block;
    max-height: 50px;
}

p,
span {
    font-family: GT Walsheim, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--granite);
}

::placeholder {
    font-size: 12px;
    font-style: italic;
}

h2 a {
    color: var(--granite);
    text-decoration-skip: ink;
    transition: var(--transition);
}

h2 a:hover {
    color: var(--cobalt);
}

#main-content {
    padding-top: 50px;
    background-color: var(--mist);
}

.panel-item {
    position: relative;
    display: block;
}

.panel-item-title {
    display: inline-block;
    padding: 10px 15px;
}

.panel-item-title-news {
    display: inline-block;
    padding: 10px 15px 2px 15px;
}

.panel-item-date {
    display: inline-block;
    float: right;
    font-size: 0.7em;
    padding: 10px 15px;
}

.panel-item-date-news {
    display: inline-block;
    font-size: 0.7em;
    padding: 0 15px;
}

.panel-item:hover {
    background-color: var(--mist);
}

.whole-panel-link {
    text-decoration: none;
}

.info-page-text-container {
    display: block;
    margin-top: 50px;
    grid-column: span 3;
    grid-row: 1 / 3;
    grid-auto-rows: minmax(min-content, max-content);
    padding-right: 15px;
    padding-bottom: 100px;
}

.info-page-text-container ul {
    list-style-type: disc;
    line-height: 22px;
}

.info-page-text-container ul li {
    font-family: GT Walsheim;
    color: var(--granite);
    font-size: 14px;
    font-weight: 400;
}

 .info-page-button,
 .warning {
     padding: 5px 10px;
 }

.jobs-table {
    grid-column: span 3;
    grid-row: 1 / 3;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 70px;
}

.job-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid var(--granite-light-level1);
    padding: 15px 0;
}

.job-row:last-child {
    border-bottom: none;
}

.job-row:first-child {
    padding-top: 0;
}

.job-info {
    grid-column: span 3;
}

.job-location-details {
    grid-column: span 1;
    text-align: right;
    position: relative;
    margin-top: 0.83em;
}

.job-location-details i.fas.fa-map-marker-alt,
.job-location-details p {
    display: inline-block;
    color: var(--granite);
    margin: 0;
}

.job-location-details button {
    position: absolute;
    right: 0;
    margin-top: 10px;
    display: block;
    padding: 5px;
}

.org-name {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: -10px;
}

.application-procedures {
    display: none;
}

.question-topic {
    background-color: var(--sky);
    padding: 4px 6px;
    border-radius: 10px;
    display: inline;
    margin-left: 15px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    grid-column: 1 / span 3;
    grid-row: 3;
    padding-bottom: 50px;
    text-align: center;
}

.page-number {
    padding: 5px 10px;
    width: 30px;
    text-align: center;
    margin: 0 3px;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: max-content;
    background-color: var(--mist);
    padding: 0;
    box-shadow: 0 1px 1px 1px rgba(179, 179, 179, 0.2);
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100vw;
    }

    .under-nav,
    .navbar {
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }

    .panel {
        width: 100%;
    }
}